body {
  background: url("../images/capekiwandablack1.jpg");
  background-size: cover;
  font-family: Geneva;
  text-align: center;
}

h1 {
  background-color: #000000;
  color: #ffffff;
}

#slogan {
  font-style: italic;
}

#footer {
  background-color: #000000;
  color: #ffffff;
}
